
        <!-- /#wrapper -->
    
        <a id="scroll-top"></a>
    
        <!-- Javascript -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/main.js"></script>
        <script src="/assets/js/jquery.easing.js"></script>
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/wow.min.js"></script>
        <script src="/assets/js/plugin.js"></script>
        <script src="/assets/js/count-down.js"></script>
        <script src="/assets/js/shortcodes.js"></script>
        <script src="/assets/js/swiper-bundle.min.js"></script>
        <script src="/assets/js/swiper.js"></script>
        <script src="/assets/js/web3.min.js"></script>
        <script src="/assets/js/moralis.js"></script>
        <script src="/assets/js/nft.js"></script>
    
    </body>
    
    </html>